**/.DS_Store
**/*.pyc
app/venv/
app/src/build/
app/src/pose.egg-info/
app/src/flask_session
app/src/videos/*.mp4
app/src/pose/gesture_recognizer.task
app/src/pose/pose_landmarker_lite.task
app/src/pose/pose_landmarker_full.task
app/src/pose/pose_landmarker_heavy.task
