opencv-python==4.10.0.84
opencv-contrib-python==4.10.0.84
mediapipe==0.10.21
gunicorn==23.0.0
rpyc==6.0.2
flask==3.1.2
flask-restx @ git+https://github.com/empirica-lab/flask-restx.git@add-summary
Flask-SocketIO==5.4.1
flask-session==0.8.0
redis==5.1.1
redislite @ git+https://github.com/darrenchang/redislite.git@update-redis
requests==2.32.4
