@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 53px;
}
.n-layout-header {
  background: rgba(128, 128, 128, 0.2);
  padding: 4px 24px;
  height: var(--header-height);
}
